* {
    margin: 0px;
    text-decoration: none;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    
}
.selection-bar {
    background-color: goldenrod;
}
.main-container {
    box-sizing: border-box;
    margin: 80px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.grey{
    box-sizing: border-box;
    background-color: gray;
    border: 1px solid black;
}